body {
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
}

.alert {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}


textarea {
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
    scrollbar-width: thin;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.btn-primary {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-primary:hover {
    background-color: #31b0d5;
    border-color: #31b0d5;
}

.btn-close-white {
    filter: invert(1);
}


@media (max-width: 768px) {
    .login-container {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .login-container {
        width: 90%;
    }
}