body {
    font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
margin-top: 100px; /* Adjusted height to accommodate browser navigation bar */
background-image: url(../images/background.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
overflow-y: auto; /* Enable scrolling */
margin-bottom: 100px;
}

.form-container {
    background-color: #FCF8ED;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
width: 90%;
max-width: 400px;
text-align: center;
}

.form-container img {
    max-width: 150px;
    margin-bottom: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

.form-container input[type="email"],
.form-container input[type="submit"] {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    background: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.form-container input[type="submit"]:hover {
    background: #4cae4c;
}

.form-container p {
    margin: 15px 0;
}

.form-container a {
    color: #5cb85c;
    text-decoration: none;
    transition: color 0.3s;
}

.form-container a:hover {
    color: #4cae4c;
}


.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.toast.success {
    background-color: #5cb85c;
}

.toast.error {
    background-color: #e74c3c;
}

@media (max-width: 768px) {
.login-container {
width: 80%;
}
}

@media (max-width: 480px) {
.login-container {
width: 90%;
}
}